<div class="chat-admin-container">
  <div class="chat-list">
    <div class="tabs">
      <a (click)="filterComplaints('todos')" [ngClass]="{'active': activeTab === 'todos'}">Todos</a>
      <a (click)="filterComplaints('pendientes')" [ngClass]="{'active': activeTab === 'pendientes'}">Pendientes</a>
      <a (click)="filterComplaints('finalizados')" [ngClass]="{'active': activeTab === 'finalizados'}">Finalizados</a>
    </div>

    <div class="search-box-container">
      <input type="text" placeholder="Buscar chat..." class="search-box" [(ngModel)]="textFilter" (keyup)="filterComplaints()" />
      <button mat-mini-fab matTooltip="Puedes buscar por número de denuncia, estado, nombre o asunto" class="info-icon" mat-mini-fab aria-label="Example icon button with a menu icon">
        <mat-icon>info</mat-icon>
      </button>
    </div>

    <div class="divider"></div>

    <div class="chat-items-container">
      <div *ngFor="let complaint of filteredComplaints" class="chat-item"
        [ngClass]="{'selected': complaint.id === selectedComplaint?.id}" (click)="selectChat(complaint)">
        <div class="chat-preview">
          <p># {{ complaint.complaintNumber }} - {{complaint.status}}</p>
          <p class="chat-name">{{ complaint.complainant ? complaint.complainant.names : 'Anónimo' | titlecase }}</p> 
          <p class="chat-subject">{{ complaint.reasons[0].description }}</p>
          <p class="chat-subject">{{ getLastMessage(complaint) }}</p>
          <span class="chat-time">{{ complaint.createdOn | date:'shortTime'}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-detail" *ngIf="selectedComplaint?.id">
    
    <span class="text-bold">Denuncia # {{selectedComplaint.complaintNumber}} </span>
    <h2 *ngIf="selectedComplaint.eStatus == 1"><mat-icon>error_outline</mat-icon> Sin respuesta <span>({{selectedComplaint.status}})</span></h2>
    <h2 *ngIf="selectedComplaint.eStatus != 1"><mat-icon>check_outline</mat-icon> Atendido <span>({{selectedComplaint.status}})</span></h2>
   
    
    
    <!-- <div class="chat-message">
        <div *ngFor="let message of chat">
          <h3>{{ message.user ? message.user.names + ' ' + message.user.lastName: 'Anónimo' }}</h3>
          <p>{{ message.message }}</p>
        </div>
      </div> -->
    <app-chat [complaint]="selectedComplaint"></app-chat>

    <h2>Responde la solicitud</h2>
    <div class="status-update">
      <label for="status" style="margin-right: 10px;">Estado de solicitud</label>
      <select id="status" [(ngModel)]="status">
        <option *ngFor="let state of states" [value]="state.value">{{ state.label }}</option>
      </select>

      <textarea placeholder="Escribe tu respuesta aquí" [(ngModel)]="responseMessage"></textarea>

      <button class="respuesta-btn" [disabled]="(!status || !responseMessage) || isLoading" (click)="updateComplaint()"
       >Actualizar denuncia</button>
    </div>
  </div>
</div>