<div class="container">
  <app-sidebar-admin></app-sidebar-admin>
<div class="main-content">

<div class="chat-admin-container">
  <div class="chat-list">
    <div class="tabs">
      <a (click)="filterChats('todos')" [ngClass]="{'active': activeTab === 'todos'}">Todos</a>
      <a (click)="filterChats('pendientes')" [ngClass]="{'active': activeTab === 'pendientes'}">Pendientes</a>
      <a (click)="filterChats('finalizados')" [ngClass]="{'active': activeTab === 'finalizados'}">Finalizados</a>
    </div>
    
    
    <input type="text" placeholder="Buscar chat..." class="search-box" />
    <div class="divider"></div> 

    <div class="chat-items-container">
      <div *ngFor="let chat of filteredChatList" 
           class="chat-item" 
           [ngClass]="{'selected': chat.id === selectedChat?.id}" 
           (click)="selectChat(chat)">
        <div class="chat-preview">
          <p class="chat-name">{{ chat.name }}</p>
          <p class="chat-subject">{{ chat.subject }}</p>
          <p class="chat-time">{{ chat.time }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-detail" *ngIf="selectedChat">
    <h1>Sin respuesta</h1>

    <div class="chat-message">
      <h3>{{ selectedChat.name }}</h3>
      <p>{{ selectedChat.message }}</p>
    </div>

    <h2>Responde a la solicitud</h2>
    <div class="status-update">
      <label for="status" style="margin-right: 10px;">Estado de solicitud</label>
      <select id="status" [(ngModel)]="status">
        <option value="1">Pendientes</option>
        <option value="2">En proceso de investigación</option>
        <option value="3">Finalizada</option>
        <option value="31">Desistimada</option>
        <option value="32">Sanción Aplicada</option>
        <option value="33">Medidas preventivas</option>
      </select>

      <textarea placeholder="Escribe tu respuesta aquí" [(ngModel)]="responseMessage"></textarea>

      <button class="respuesta-btn" (click)="sendResponse()">Enviar respuesta</button>
    </div>
  </div>
</div>
</div>
</div>