.track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
 .validarionerror{
    color: red;
    font-size: small;
 }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white 30%;
  }
  
  .report-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    background-color: white;
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 400px; 
  }
  
  .content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  
  .track-button {
    display: inline-block; 
    width: 100%;
    padding: 10px;
    background-color: var(--default-color);
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; 
    margin-top: 20px; 
    cursor: pointer; 
  }
  input.form-control {
    width: 96%; 
    height: 15px; 
    font-size: 16px;
    padding: 10px; 
  }
  
  label{ 
    
    
  }
  
  @media (max-width: 600px) {
    .track-container input {
        width: 20%;
    }
  
    .track-container h2, .track-container h3 {
        font-size: 16px; 
    }
  
  }