<div class="container">
    <div class="report-card">
        <div class="content-section">
            <h3>Recuperar Contraseña</h3>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Contraseña actual</label>
                    <input type="password" class="form-control" 
                           placeholder="Contraseña actual" 
                           formControlName="currentPassword" type="password" required>
                    <div  *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
                        <span class="validarionerror">La contraseña actual es requerida.</span> 
                    </div>
                </div>
                <div class="form-group">
                    <label>Nueva Contraseña</label>
                    <input id="newPassword" formControlName="newPassword" type="password" class="form-control" >
                    <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
                        <span class="validarionerror">La nueva contraseña debe tener al menos 6 caracteres.</span> 
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmar Contraseña</label>
                    <input id="newPassword" formControlName="confirmPassword" type="password" class="form-control" >
                   hols
                    {{changePasswordForm.get('confirmPassword')?.getError('mismatch')}}
                    <div *ngIf="changePasswordForm.get('confirmPassword')?.getError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
                        <span class="validarionerror">Las contraseñas no coinciden.</span> 
                    </div>
                </div>
                <button type="submit" type="submit" [disabled]="changePasswordForm.invalid" class="track-button" style="font-family: 'Open Sans'; font-size: medium;">
                    Enviar
                </button>
            </form>
            <div *ngIf="mensajeError" class="text-danger mt-3">{{ mensajeError }}</div>
            <div *ngIf="mensajeExito" class="text-success mt-3">{{ mensajeExito }}</div>
        </div>
    </div>
</div>

    
      
