<div class="container">
  <div class="report-card">
    <div class="progress-indicator">
      <div class="step">1</div>
      <label>Información general</label>
      <div class="separator"></div>
      <div class="step">2</div>
      <label>Involucrados</label>
      <div class="separator"></div>
      <div class="step">3</div>
      <label>Denunciante</label>
      <div class="separator"></div>
      <div class="step active">4</div>
      <label style="color: #371ec2; font-weight: bold">Evidencias</label>
    </div>

    <div class="content-section">
      <h2>Sube los archivos de evidencia</h2>
      <p>
        Sube uno o más archivos que demuestren la veracidad de lo ocurrido. Por
        favor añade una descripción a cada uno de ellos.
      </p>

      <div class="upload-and-description">
        <div>
          <input
            type="file"
            id="file-upload"
            (change)="onFileSelected($event)"
            multiple
            class="hide"
            accept=".png,.pdf"
          />
          <label for="file-upload" style="cursor: pointer;">
            <div class="upload-box">
              <mat-icon
                aria-hidden="false"
                class="upload-icon"
                aria-label="cloud upload icon"
                fontIcon="cloud_upload"
              />
              <p for="file-upload" class="custom-file-upload">
                Sube los documentos
              </p>
              <p class="custom-file-description">
                Se permiten archivos png o pdf
              </p>
            </div>
          </label>
        </div>
        <div class="description-container">
          <h2>Descripción de archivos</h2>
          <p>Asegurate de enumerar los archivos</p>
          <textarea
            placeholder="1. El archivo de nombre 'evidencia_descripcion' muestra..."
            [(ngModel)]="descripcionesArchivos">
          </textarea>
        </div>
      </div>

      <div class="file-list" *ngIf="archivosSeleccionados.length > 0">
        <button mat-raised-button *ngFor="let file of archivosSeleccionados" class="file-item">{{ file.name }}</button>
      </div>

      <button class="next-btn" [disabled]="submit" (click)="onSubmit()">
        <span *ngIf="!submit">Siguiente</span>
        <mat-progress-spinner
          *ngIf="submit"
          [diameter]="24"
          mode="indeterminate"
        ></mat-progress-spinner>
      </button>
      <br />
    </div>

    <div class="info-section">
      <h1 class="title">
        Protegemos tu<br />
        identidad
      </h1>
      <h2 class="subtitle">Te cuidamos, cuidándonos <br />entre todos.</h2>
      <img
        src="/icons/isotipo-bg.png"
        alt="Logotipo Canal"
        class="reportlogo"
      />
    </div>
  </div>
</div>
