<div class="container">
  <div class="report-card">
    <div class="progress-indicator">
      <div class="step passed" (click)="goBack('/report')">1</div>
      <label>Información general</label>
      <div class="separator"></div>
      <div class="step passed"  (click)="goBack('/involucrados')">2</div>
      <label>Involucrados</label>
      <div class="separator"></div>
      <div class="step passed"  (click)="goBack('/denunciante')">3</div>
      <label>Denunciante</label>
      <div class="separator"></div>
      <div class="step active">4</div>
      <label style="color: var(--default-color); font-weight: bold">Evidencias</label>
    </div>

    <div class="content-section">
      <h2>Sube los archivos de evidencia</h2>
      <p>
        Sube uno o más archivos que demuestren la veracidad de lo ocurrido. Por
        favor añade una descripción a cada uno de ellos. <span class="text-danger">*</span>
      </p>

      <div class="upload-and-description">
        <div>
          <input
            type="file"
            id="file-upload"
            (change)="onFileSelected($event)"
            multiple
            class="hide"
            accept=".png,.pdf"
          />
          <label for="file-upload" style="cursor: pointer;">
            <div class="upload-box">
              <mat-icon
                aria-hidden="false"
                class="upload-icon"
                aria-label="cloud upload icon"
                fontIcon="cloud_upload"
              />
              <p for="file-upload" class="custom-file-upload">
                Sube los documentos
              </p>
              <p class="custom-file-description">
                Se permiten archivos png o pdf
              </p>
            </div>
          </label>
        </div>
        <div class="description-container">
          <h2>Descripción de archivos <span class="text-danger">*</span></h2>
          <p>Asegurate de enumerar los archivos</p>
          <textarea
            placeholder="1. El archivo de nombre 'evidencia_descripcion' muestra..."
            [(ngModel)]="descripcionesArchivos">
          </textarea>
        </div>
      </div>

      <div class="badge-container" *ngIf="archivosSeleccionados.length > 0">
        <button mat-raised-button *ngFor="let file of archivosSeleccionados" class="badge-btn badge-purple-btn">{{ file.name }}</button>
      </div>

      <div class="btn-container">
        <button class="back-btn" [disabled]="submit" (click)="goBack('/denunciante')">Volver</button>
        <button class="next-btn" [disabled]="submit" (click)="onSubmit()">
          <span *ngIf="!submit">Guardar</span>
          <mat-progress-spinner
            *ngIf="submit"
            [diameter]="24"
            mode="indeterminate"
          ></mat-progress-spinner>
        </button>
      </div>
      <br />
    </div>

    <div class="info-section">
      <h1 class="title">
        Protegemos tu<br />
        identidad
      </h1>
      <h2 class="subtitle">Te cuidamos, cuidándonos <br />entre todos.</h2>
      <img
        src="/icons/isotipo-bg.png"
        alt="Logotipo Canal"
        class="reportlogo"
      />
    </div>
  </div>
</div>

<notifier-container />
