.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('/images/Bg_usuario.png') no-repeat top left / 100% 60%, white 40%;
}

.report-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  max-height: 85vh;
  overflow-y: auto;
  box-sizing: border-box;
  margin-top: 100px;
}

.progress-indicator {
  position: absolute;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-section {
  flex: 1;
  padding: 20px 20px 20px 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.upload-and-description {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.upload-box {
  border: 2px dashed var(--default-color);
  width: 220px;
  height: 220px;
  text-align: center;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

.hide {
  display: none;
}

.custom-file-upload {
  display: ruby-text;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: var(--default-color);
  border: none;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 0;
  /* temporal */
  margin-top: 15px;
}

.custom-file-description {
  text-align: center;
  font-size: 10px;
}

.description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
}

.description-container > h2,
.description-container > p,
.description-container > textarea {
  margin: 0 !important;
}

.description-container > h2 {
  line-height: inherit;
}

.description-container > textarea {
  flex: 1;
}

.upload-box ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.upload-box ul li {
  margin: 5px 0;
}

.upload-icon {
  font-size: 70px;
  width: 70px;
  height: 70px;
  align-self: center;
  color: var(--default-color);
  opacity: 0.2;
}

.incident-description {
  flex: 1;
}

textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  resize: vertical;
  max-height: 200px;
}
.form-control {
  border-radius: 5px;
}

.info-section {
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 10px;
  width: 240px;
  text-align: center;
}

.divider {
  border: none;
  border-top: 2px solid #e0e0e0;
  margin: 20px 0;
}

.file-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.incident-description {
  flex: 1;
}
p {
  font-family: "Open Sans";
  font-size: small;
}
.next-btn {
  margin-top: 10px;
  align-self: flex-end;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25)), var(--default-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: var(--default-color);
  opacity: 0.9;
}

@media (max-width: 767px) {
  .upload-box {
    border: 2px dashed var(--default-color);
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 20px;
  }

  .report-card {
    flex-direction: column;
    width: 100%;
    padding: 15px;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
  }

  .progress-indicator {
    left: 0;
    top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-section {
    width: 100%;
    margin-top: 20px;
  }

  .reportlogo {
    display: none;
  }
}

@media (max-width: 479px) {
  .container {
    padding: 10px;
  }

  .report-card {
    width: 100%;
    padding: 10px;
    height: auto;
  }

  .info-section {
    padding: 10px;
    font-size: 16px;
  }

  .info-section .title {
    font-size: 20px;
  }

  .info-section .subtitle {
    font-size: 14px;
  }

  textarea,
  .denuncia-btn,
  .dropbtn,
  .next-btn {
    width: 100%;
  }

  .reportlogo {
    display: none;
  }
}
