<header>
    <div class="header"> 
        <div class="header-title">
            <a routerLink="/home"><img src="/icons/Logotipo_canal.png" alt="Logotipo Canal" class="logo"></a>
        </div>
        <ul class="nav">
            <li><a routerLink="/home">Home</a></li> 
            <li><a routerLink="report">Denunciar</a></li> 
            <li><a routerLink="seguimiento">Seguimiento</a></li> 
            <li><a routerLink="login" class="btn denunciar">Acceso Administradores</a></li>
        </ul>
    </div>
</header>

<notifier-container />
