<header>
    <div class="header"> 
        <div class="header-title">
            <img src="/icons/Logotipo_canal.png" alt="Logotipo Canal" class="logo">
        </div>
        <ul class="nav">
            <li><a href="home">Home</a></li> 
            <li><a href="report">Denunciar</a></li> 
            <li><a href="seguimiento">Seguimiento</a></li> 
            <li><a href="login" class="btn iniciar-sesion">Iniciar sesión</a></li>
            <li><a href="report" class="btn denunciar">Quiero denunciar</a></li> 
        </ul>
    </div>
</header>
