
.container {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

.main-content {
  margin-left: calc(330px + 20px);
  flex-grow: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Open Sans", sans-serif;
  font-size: small;
  overflow-y: auto;
}



.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 5%;
}

.search-bar {
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-edit {
  background-color: #007bff;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.estado-fijo {
  background-color: #7fe08b;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.estado-temporal {
  background-color: #ffc107;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.toolbar .btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.label {
  margin: 0 10px;
  font-size: small;
  align-self: center;
}

.arrow {
  cursor: pointer;
  margin: 0 10px;
  font-size: xx-large;
  color: #007bff;
}

.arrow.disabled {
  color: gray;
  cursor: not-allowed;
}

.table-container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: rgb(238, 238, 238);
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.table th {
  background-color: #384146;
  color: white;
}

.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table tbody tr:nth-child(odd) {
  background-color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #eee5e675;
}

app-sidebar-admin {
  width: 370px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.usuario-option {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border: 0.5px solid grey; 
  background-color: white;
  padding: 20px; 
  border-radius: 10px;
  cursor: pointer;
  width: 7%; 
  height: 2%; 
  transition: background-color 0.3s; 
  background-size:auto;

}

