################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug
/Api/obj
/Application/bin/Debug
/Application/obj
/DataAccess/bin/Debug
/DataAccess/obj
/Domain/bin/Debug
/Domain/obj
/Proxy/bin/Debug
/Proxy/obj
/Utility/bin/Debug
/Utility/obj
/Api/Api.csproj.user
/Api/.config
/Api/bin/Release/net8.0
/Application/bin/Release/net8.0
/DataAccess/bin/Release/net8.0
/Domain/bin/Release/net8.0
/Domain/bin/Release/net8.0/Domain.deps.json
/Proxy/bin/Release/net8.0
/Utility/bin/Release/net8.0
/Api/Properties/PublishProfiles
/Presentation/.angular/cache/18.2.4
/Presentation/node_modules
