<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="Custom MyGet" value="https://nuget.devexpress.com/b46l4gPec2DEsSmd28SKNbfWZz6aEcntNkPhobT8ReCkBNQMat/api" />
		<add key="nuget.org" value="https://www.nuget.org/api/v2/" />
	</packageSources>
</configuration>