<div class="modal">
  <div class="modal-content">
    <h2>Desestimar denuncia</h2>

    <input type="file" id="file-upload" (change)="onFileSelected($event)" multiple accept=".png,.pdf" class="hide">
    <label for="file-upload" style="cursor: pointer;">
      <div class="upload-and-description">
        <div class="upload-box">
          <i class="fa fa-cloud-upload"></i>
          <p for="file-upload" class="custom-file-upload">Sube los documentos</p>
          <p class="custom-file-description">Se permiten archivos png o pdf</p>
        </div>
        <textarea placeholder="Deseo desestimar la denuncia realizada..." [(ngModel)]="notes"></textarea>
      </div>
    </label>


    <div class="file-list">
      <p *ngIf="archivosSeleccionados.length > 0">Archivos seleccionados:</p>
      <ul>
        <li *ngFor="let file of archivosSeleccionados">{{ file.name }}</li>
      </ul>
    </div>

    <div class="example-button-row flex-end">
      <button class="back-btn" mat-button [disabled]="submit" (click)="cerrar.emit()"> Cancelar</button>
      <button class="next-btn" mat-button [disabled]="submit" (click)="onSubmit()">
        <span *ngIf="!submit">Siguiente</span>
        <mat-progress-spinner *ngIf="submit" [diameter]="24" mode="indeterminate"></mat-progress-spinner>
      </button>
    </div>

    <br>

  </div>
</div>