<body>
<div class="container">
  <div class="main-content">
      <h2>Comunicación con el Investigador</h2>
      <p>Aquí puedes chatear directamente con el investigador asignado a tu denuncia.</p>
      
      <div class="investigator-card">
        <div class="investigator-info">
        <p><strong>Nombre Apellido</strong></p>
        <p>Estamos comprometidos con la resolución efectiva de cada caso.</p>
      </div>
    </div>

      </div>


      <div class="chat-messages">
          <div class="messages-list">
              <div class="message investigator">
                  <p>Te faltaría el certificado que mencionaste en la descripción de la denuncia</p>
                  <span class="message-time">12:00</span>
              </div>

              <div class="message user">
                  <p>Se me habrá pasado, verificaré.</p>
                  <span class="message-time">12:00</span>
              </div>
              <div class="message user">
                  <p>¡Sí! Lo tengo en mi poder, ya mismo lo paso...</p>
                  <span class="message-time">12:00</span>
              </div>
             
              
          </div>

          <div class="message-input">
            <textarea [(ngModel)]="replyContent" placeholder="Escribe tu mensaje aquí..."></textarea>
            <div class="upload-box">
              <input type="file" id="file-upload" multiple accept=".png,.pdf">
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Sube los documentos
              </label>
    
            </div>
          
            <button class="send-btn" (click)="replyToMessage()">Enviar</button>
        </div>
        <label>Todos los mensajes se manejan con absoluta confidencialidad</label>


      </div>
    </div>
  </body>