

.chat-header {
  grid-column: span 2;
  padding: 200px;
}

.chat-content {
  display: flex;
}

.chat-sidebar {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  align-items: center;
}

.investigator-info {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin-right: 10px;
}
.chat-messages {
  right: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  grid-column: 2; 

}

.container {
  margin-top: 100px; 
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 40%; 
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #d4cfcf;
  padding: 10px; 
}

.message {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  max-width: 40%; 
}

.investigator {
  background-color: #ffffff;
  align-self: flex-start; 
}


.user {
  background-color: #6256d1;
  color: white;
  align-self: flex-end; 
  margin-left: auto; 
}

.message-time {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
}


.message-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

textarea {
  flex-grow: 1;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 50%; 
  height: 80px; 
}



.upload-box {
  border: 2px dashed #cccccc;
  padding: 20px;
  width: 70px; 
  height: 60px; 
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.upload-box input[type="file"] {
  display: none;
}

.send-btn {
  background-color: #6256d1;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 20px;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.investigator-card {
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin-bottom: 20px; 
  display: flex;
  align-items: center;
}

.investigator-card .icon {
  font-size: 24px;
  margin-right: 10px;
}

.investigator-card p {
  margin: 0;
}
.investigator-info {
  display:flex;
  flex-direction: column; 
  margin-left: 10px;
  text-align: l; 
}