.faq-section {
  margin-top: 40px;
  background-color: white;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0 10px; 
}

.faq-title {
  cursor: pointer;
  color: #000000;
  font-size: 1em; 
  border: 0.5px solid #d0d0d0; 
  border-radius: 5px; 
  background-color: #fff;
  padding: 20px 10px; 
  margin: 10px auto; 
  max-width: 50%; 
  text-align: center !important;
  font-weight: 600;
}

.faq-answer {
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 0;
  font-size: 0.85em; 
  color: #333;
  text-align: center;
}

.faq-answer.expanded {
  max-height: max-content; 
  background-color: #f0effb;
  margin: 10px auto;
  padding: 10px; 
  max-width: 50%; 
}

@media (max-width: 767px) {
  .faq-title {
    font-size: 1em; 
    padding: 15px 10px; 
  }

  .faq-answer {
    font-size: 0.9em; 
  }

  .faq-answer.expanded,
  .faq-title {
    max-height: max-content;
    max-width: 90%;
    width: 90%;
  }
}
