
<div class="faq-section">
    <h1 style="font-size: 40px; text-align: center;">FAQ</h1>
    <h2 style="text-align: center !important; font-weight: 500 !important;">Preguntas Frecuentes</h2>
    <div class="faq" (click)="toggleAnswer()">
      <h3 class="faq-title">¿Qué es el Canal de Denuncias Empresariales?</h3>
      <p [class.expanded]="isExpanded" class="faq-answer">
        Es una plataforma diseñada para que los empleados y colaboradores puedan reportar, de maneda <br>
        confidencial o anónima, cualquier comportamiento o situación irregular que contravenga las políticas y <br>
        normas de la empresa.<br>
        <!-- https://www.isl.gob.cl/ley-karin/ -->
        Este canal surge de la Ley 21.643 (Ley Karin), actualmente vigente en la República Chilena.
      </p>

      <h3 class="faq-title">¿Puedo hacer una denuncia de manera anónima?</h3>
      <p [class.expanded]="isExpanded" class="faq-answer">
      Sí, tienes la opción de realizar denuncias de forma anónima. No se te pedirá ningún dato personal, y no se<br>
      rastreará tu identidad.
      </p>

      <h3 class="faq-title">¿Cómo se garantiza la confidencialidad de mi denuncia?</h3>
      <p [class.expanded]="isExpanded" class="faq-answer">
        Todas las denuncias se manejan con el más alto nivel de confidencialidad. Sólo el equipo autorizado.<br>
        tendrá acceso a la información proporcionada<br>
      </p>

      <h3 class="faq-title">¿Qué sucede después de que presento una denuncia?</h3>
      <p [class.expanded]="isExpanded" class="faq-answer">
        Nuestro equipo especializado revisará tu denuncia y tomará las medidas necesarias. Recibirás<br>
        actualizaciones sobre el estado y la resolución de la misma.
      </p>

      <h3 class="faq-title">¿Cuánto tiempo toma investigar una denuncia?</h3>
      <p [class.expanded]="isExpanded" class="faq-answer">
        El tiempo puede variar según la complejidad de la denuncia, pero nos comprometemos a manejar cada<br>
        caso con la mayor diligencia posible.<br>
      </p>
    </div>
</div>
