
    <div class="table-container">
      <div class="toolbar">
        <h1 >Denuncias recientes</h1>
      </div>
      <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre </th>
            <th>Fecha</th>
            <th>Anónimo</th>
            <th>Estado</th>
            <th>Evidencias</th>
            <th>Chat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let denuncia of denuncias">
            <!-- <td><input type="checkbox"></td> -->
            <td>{{ denuncia.id }}</td>
            <td>{{ denuncia.reasons[0].description }}</td>
            <td>{{ denuncia.createdOn | date }}</td>
            <td>{{ denuncia.complainant ? 'Si' : 'No' }}</td>
            <td>{{ denuncia.status }}</td>
            <td><mat-icon aria-hidden="false" fontIcon="attach_file"></mat-icon></td>
            <td><mat-icon aria-hidden="false" fontIcon="chat"></mat-icon></td>
            <!-- <td>
              <button class="btn-edit">Editar</button>
              <button class="btn-delete">Eliminar</button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <span class="label">Principio</span>
      <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>
      
      <div class="page-numbers">
        <button *ngFor="let page of pages()" (click)="goToPage(page)" [class.active]="currentPage === page">
          {{ page }}
        </button>
      </div>
      <span (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="arrow">›</span>
      <span class="label">Final</span>
    </div>
  </div>


  