html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1; 
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background-color: #e6e6fa;
  color: rgb(0, 0, 0);
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.footer-title {
  display: flex;
  text-align: left;
  font-size: 12px;
}

.nav-footer, .nav-footer1 {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-right: 90px;
}

.nav-footer a, .nav-footer1 a {
  text-decoration: none;
  color: #333;
  margin: 5px 0;
}
.logo {
  max-width: 40%; 
  height: auto; 
}
