
<footer>
    <div class="content-footer">
      <div class="header-title">
        <img src="/icons/Logotipo_canal.png" alt="Logotipo Canal" class="logo">

      </div>

      <div class="nav-footer">
        <p style="font-weight: bold;">MAPA DE SITIO</p>
        <a href="/home">Home</a>
        <a href="/report">Denunciar</a>
        <a href="/seguimiento">Seguimiento</a>
        <a href="/login">Acceso Administradores</a>
      </div>

      <div class="nav-footer1">
        <p style="font-weight: bold;">CONTÁCTANOS</p>
        <a>+00 0000 000 000</a>
        <a>lisit.soporte.ayuda</a>
      </div>
     
    </div>
    <hr>
    <p style="padding-top: 5px; text-align: center;">Lisit All Rights Reserved. <a href="" style="color: rgb(89 86 218); text-decoration: none;">Politicas de Pivacidad</a></p>
</footer>

