<body>
  <footer>
    <div class="header-title">
      <img src="/icons/Logotipo_canal.png" alt="Logotipo Canal" class="logo">

    </div>

    <div class="nav-footer">
      <a style="font-weight: bold;">MAPA DE SITIO</a>
      <a>Inicio de sesión</a>
      <a>Home</a>
      <a>Denunciar</a>
      <a>Seguimiento</a>
    </div>

    <div class="nav-footer1">
      <a style="font-weight: bold;">CONTÁCTANOS</a>
      <a>+00 0000 000 000</a>
      <a>lisit.soporte.ayuda</a>
    </div>
  </footer>
</body>
