<div>
  <h2>Análisis por área</h2>
  <canvas
    baseChart
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>

  <button (click)="randomize()" style="padding: 10px; background-color: blue; color: white; border: none; border-radius: 5px;">
    Actualizar Barras
  </button>
</div>

<div>
  <h2>Análisis por cargo</h2>
  <canvas
    baseChart
    [data]="doughnutChartData"
    [type]="doughnutChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>
