.track-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.track-container form {
  width: 90%;
  max-width: 90%; 
}

.track-container .code-input-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.track-container input {
  width: 12%;
  height: 50px; 
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.track-container h2, .track-container h3 {
  margin-bottom: 10px; 
}

.a_ {
  font-family: 'Open Sans';
  text-align: center; 
  color: #2e10d8;
  text-decoration: none;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
  height: 80vh;
  background: url('/images/Bg_usuario.png') no-repeat top left / 100% 70%, white 30%;
}

.report-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  background-color: white;
  padding: 20px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; 
  max-width: 400px; 
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px; 
  margin-bottom: 20px; 
}


.track-button {
  display: inline-block; 
  width: 100%;
  padding: 10px;
  background-color: var(--default-color);
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none; 
  margin-top: 20px; 
  cursor: pointer; 
}

@media (max-width: 596px) {
  .track-container {
      padding: 0;
  }
  .track-container input {
      width: 20%;
  }

  .track-container h2, .track-container h3 {
      font-size: 16px; 
  }
}
