<div class="container"> 
  <div class="report-card">
    <div class="content-section">

    <div class="track-container">
    <form [formGroup]="trackForm" (ngSubmit)="onSubmit()">
      <h2 for="trackCode">Introduce el código de <br>seguimiento</h2>
      <h3>Este código ha sido enviado a tu correo electrónico. <br>Introdúcelo para acceder a tu denuncia. </h3>
      <div class="code-input-container" [formGroup]="trackingForm">
        <input type="text" maxlength="1" formControlName="digit1">
        <input type="text" maxlength="1" formControlName="digit2">
        <input type="text" maxlength="1" formControlName="digit3">
        <input type="text" maxlength="1" formControlName="digit4">
        <input type="text" maxlength="1" formControlName="digit5">
      </div>
      <a href="#" class="a_">¿No recibiste un código?</a>

      <button class="track-button" type="submit">Ir a mi denuncia</button>
      
    </form>
    <div *ngIf="mensajeError" class="mt-2" style="color: red !important"><br>{{ mensajeError }}</div>
  </div>
</div>
</div>

</div>

  