<div class="summary-container">
  <a routerLink="/denunciasadmin" class="summary-card active-card"
    style="text-decoration: none;">
    <div class="summary-content">
      <mat-icon class="summary-icon icon-selected">folder_special</mat-icon>
      <div class="summary-values-container">
        <h2 class="summary-total icon-selected">{{ totalDenuncias }}</h2>
        <p>Denuncias</p>
      </div>
    </div>
  </a>
  <a routerLink="/denunciasadmin/realizadas/2" class="summary-card" style="text-decoration: none;">
    <div class="summary-content">
      <mat-icon class="summary-icon">rotate_right</mat-icon>
      <div class="summary-values-container">
        <h2 class="summary-total">{{ denunciasEnProceso }}</h2>
        <p style="color: black;">En Proceso</p>
      </div>
    </div>
  </a>
  <a routerLink="/denunciasadmin/realizadas/1" class="summary-card" style="text-decoration: none;">
    <div class="summary-content">
      <mat-icon class="summary-icon">balance</mat-icon>
      <div class="summary-values-container">
        <h2 class="summary-total">{{ accionesPendientes }}</h2>
        <p style="color: black;">Acciones Pendientes</p>
      </div>
    </div>
  </a>
</div>