.summary-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary-card {
  background-color: #fdfdfd;
  
  border-radius: 8px;
  flex: 1;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-right: 22px;
  margin-top: 30px;
}

.summary-card:last-child {
  margin-right: 0;
}

.summary-content {
  text-align: left;
  margin-left: 24px;
 
}

.icon-container {
  display: flex;
  align-items: center; 
}

.summary-icon {
  width: 50px; 
  height: 50px; 
  margin-right: 20px;
}
@media (max-width: 768px) {
  .summary-container {
    flex-direction: column; 
    align-items: center; 
  }

  .summary-card {
    width: 100%; 
    margin-right: 0;
    margin-top: 20px;
  }

  .summary-icon {
    width: 40px; 
    height: 40px;
  }
}

@media (max-width: 480px) {
  .summary-card {
    padding: 15px; 
  }

  .summary-icon {
    width: 30px; 
    height: 30px;
  }
}