:host {
  display: block;
  width: 320px;
  height: max-content;
}

.char-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.char-content h2 {
  font-size: 20px !important;
  text-align: center;
}

.char-content {
  padding: 10px;
}

.char-card {
  background-color: #fdfdfd;
  border-radius: 8px;
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.chart {
  width: 300px;
  height: max-content;
}
