<body>
  <div class="content">
    <div class="text-container">
      <h1 class="highlight-tittle" style="font-size: x-large; font-weight: 100;">Tu seguridad es primero</h1>
      <h1 class="highlight-tittle" style="font-size: xxx-large; font-weight: 500;">Canal de Denuncias Empresariales</h1>
      <h1 class="highlight-tittle" style="font-size: x-large; font-weight: 50;">Fomentando la transparencia y la integridad en su organización.</h1>

      <div class="buttons-container">
        <button class="btn" style="color:white; background-color:rgb(78, 65, 188)">Seguimiento de denuncias</button>
        <button class="btn" style="color: rgb(43, 27, 187); background-color: white; font-weight: 700;">Quiero denunciar</button>
      </div>
    </div>  
    <img src="/images/MOCKUP-desktop-LP.svg" class="overlay-image" >
    <img src="/images/MOCKUP-mobile-LP.png" class="overlay-image2">
  </div>
  <app-how-it-works></app-how-it-works>
  <app-information></app-information>
  <app-faq></app-faq>
</body>
