.body, .content{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
  background-image: url('/images/BG_landing_page_lp.png'); 
  background-size: auto 80%; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100vw; 
  background-color: #f1f1f1;
  position: relative; 
  margin-bottom: 250px;
}



.overlay-image {
  position: absolute; 
  bottom: 20px;
  transform: translateX(-5%) translateY(-10%);
  z-index: 0;
  width: 25%; 
  height: auto; 

}

.overlay-image2 {
  position: absolute; 
  bottom: 20px; 
  transform: translateX(245%) translateY(-1%);
  z-index: 0; 
  width: 8%; 
  height: auto; 

}


.highlight-content {
  color: white; 
  font-weight: bold; 
  font-size: 2vw; 
  font-family: 'Rubik', sans-serif;

  }

.highlight {
  color: #1f05af; 
  }
  
.highlight-tittle {
  color: white;
  font-family: 'Open Sans';
  flex-direction: column; 
  margin-top: 20px;
  }
  
  .text-container{
    transform: translateX(-5%) translateY(-50%);

  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .btn {
    border: 1px solid #ccc; 
    padding: 20px 40px;
    margin: 10px; 
    font-family: 'Rubik', sans-serif; 
  }
  

