<body>
  <div class="content">
    <div class="text-container">
      <h2 class="highlight-text highlight-subtitle">Tu seguridad es primero</h2>
      <h1 class="highlight-text">Canal de Denuncias Empresariales</h1>
      <p class="highlight-text highlight-description">Fomentando la transparencia y la integridad en su organización.</p>

      <div class="buttons-container">
        <a href="seguimiento"  class="btn" style=" text-decoration: none; color:white; background-color:rgb(78, 65, 188)">Seguimiento de denuncias</a>
        <a href="report" class="btn" style=" text-decoration: none;color: rgb(43, 27, 187); background-color: white; font-weight: 700;">Quiero denunciar</a>
      </div>
    </div>
    <div class="image-container">
      <img src="/images/MOCKUP-desktop-LP.svg" class="overlay-image" >
      <img src="/images/MOCKUP-mobile-LP.png" class="overlay-image2">
    </div>
  </div>
  <app-how-it-works></app-how-it-works>
  <app-information></app-information>
  <app-faq></app-faq>
</body>
