<div class="container">
  <div class="report-card">
    <div class="progress-indicator">
      <div class="step ">1</div><label>Información general</label>
      <div class="separator"></div> 
      <div class="step">2</div> <label>Involucrados</label>
      <div class="separator"></div> 
      <div class="step active">3</div><label style="color:#371ec2; font-weight: bold;">Evidencias</label>
      <div class="separator"></div> 
      <div class="step">4</div><label>Denunciante</label>
    </div>

    <div class="content-section">
      <h2>Sube los archivos de evidencia</h2>
      <h3>Sube uno o más archivos que demuestren la veracidad de lo ocurrido. Por favor añade una descripción a cada uno de ellos.</h3>
      
      <div class="upload-and-description">
        <div class="upload-box">
          <input type="file" id="file-upload" (change)="onFileSelected($event)" multiple accept=".png,.pdf">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Sube los documentos</label>
          <p>Se permiten archivos png o pdf</p>

        </div>
      
        <div class="incident-description">
          <label for="incident-details" style="font-weight: bold;">Descripción de archivos<br></label>
          <h3>Asegurate de enumerar los archivos</h3>

          <textarea id="incident-details" placeholder="1. El archivo de nombre 'evidencia_descripción' muestra..."></textarea>
        </div>
      </div>
      
      <div class="file-list">
        <p *ngIf="archivosSeleccionados.length > 0">Archivos seleccionados:</p>
        <ul>
          <li *ngFor="let file of archivosSeleccionados">{{ file.name }}</li>
        </ul>
      </div>
      
      

      <a class="next-btn" href="denunciante">Siguiente</a>
    </div>

    <div class="info-section">
      <h1 class="title" >Protegemos tu<br> identidad</h1>
      <h2 class="subtitle">Te cuidamos, cuidándonos <br>entre todos.</h2>
      <img src="/icons/isotipo-bg.png" alt="Logotipo Canal" class="reportlogo">
    </div>
  </div>
</div>
