.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #f1f1f1;
  padding: 10px; 
}

.search-input {
  width: 400px; 
  height: 40px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 5px 10px; 
  font-size: 16px;
  transition: border 0.3s; 
}

.search-input:focus {
  border-color: #4C3DB2; 
  outline: none; 
}


.user-info span {
  font-size: 16px;
  color: #333;
}

.user-info img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #ccc; 
  transition: border-color 0.3s; 
}

.user-info img:hover {
  border-color: #4C3DB2; 
}
.user-info {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.user-text {
  display: flex;
  flex-direction: column;
}
