<div class="container">
    <div class="report-card">
        <div class="content-section">
            <h2>Recuperar Contraseña</h2>
            <form (ngSubmit)="recuperarContrasenia()">
                <div class="form-group">
                    <h3>Escriba su correo electrónico <span class="text-danger">*</span></h3>
                    <input type="email" class="form-control" 
                        placeholder="Correo electrónico" 
                        [(ngModel)]="username" name="username" required>
                </div>
                <button type="submit" [disabled]="submit" class="track-button" style="font-family: 'Open Sans'; font-size: medium;">
                    <span *ngIf="!submit">Enviar instrucciones</span>
                    <mat-spinner *ngIf="submit" [diameter]="24" mode="indeterminate"></mat-spinner>
                </button>
            </form>
        </div>
    </div>
</div>

<notifier-container />
