.modal-content {
  width: 90%;
  max-width: 1000px;
  max-height: 90vh;
}

.modal-body {
  max-height: 77vh;
  overflow-x: auto;
}

.table-container{
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  height: 180px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #ddd;
}

.table-list{
  width: 100%;
  border-collapse: collapse;
}

.table-list th {
  background-color: #2e3b4e;
  color: white;
  padding: 10px;
  text-align: left;
}

.table-list th:nth-child(1) {
  width: 30%;
}

.table-list td {
  padding: 10px;
  text-align: left;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  border-bottom: none;
  vertical-align: baseline;
}

.table-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.timeline {
  display: block !important;
  margin-left: 0;
  padding-left: 0;
}

.timeline-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #436285 !important;
  position: relative;
}

.timeline li:before {
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: rgb(169 169 169);
  position: absolute;
  left: 16px;
}

.timeline li:first-child:before {
  top: 50%;
  height: 50%;
}

.timeline li:last-child:before {
  bottom: 50%;
  height: 50%;
}
.timeline-title {
  margin-bottom: 0.5rem;
}

.circle-custom {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid var(--default-color);
  transform: translateX(50%);
  z-index: 1;
}

.circle-custom.active {
  background-color: var(--default-color);
}

.subcard {
  padding: 0 30px;
  color: black;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

.subcard h3 {
  font-size: 18px !important;
  margin: 0;
  padding: 0;
  font-weight: 700;
  margin-bottom: 20px !important;
}
.subcard h3 p {
  font-size: 12px !important;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #535353;
  font-weight: 300;
  line-height: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 5px;
}

.divider {
  border: none;
  border-top: 2px solid #e0e0e0;
  margin: 20px 0;
}

.completed {
  width: 30%;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.close-btn {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.next-btn {
  align-self: flex-end;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25)), var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 479px) {
  .container {
    padding: 10px;
  }
}
