<div class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <button class="close-btn" (click)="cerrar.emit()">✖</button>
      <h2>Detalle de la denuncia #{{complaint?.complaintNumber}}</h2>
      <div class="table-container">
        <table class="table-list">
          <thead>
            <tr>
              <th>Motivo</th>
              <th>Descripción del incidente</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <ul>
                  <li *ngFor="let reason of complaint.reasons">{{reason.description}}</li>
                </ul>
              </td>
              <td>{{complaint.description}}</td>
            </tr>
        </table>
        <div class="completed"></div>
      </div>
      <hr class="divider">
      <h2>Detalle del denunciado</h2>
      <div class="table-container">
        <table class="table-list">
          <thead>
            <tr>
              <th>Identificacion</th>
              <th>Descripción Física</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let involved of complaint.involved">
              <td>{{involved.names}}</td>
              <td>{{involved.description}}</td>
            </tr>
        </table>
        <div class="completed"></div>
      </div>
      <hr class="divider">
      <div class="content-section">
        <h2 style="font-size: x-large">Historial</h2>
        <div class="historyContainer" *ngIf="complaint.complaintHistory?.length > 0">

          <ul class="timeline">
            <li class="timeline-card" *ngFor="let history of sortHistoryList(complaint.complaintHistory); let i = index">
              <span aria-hidden="true" class="circle-custom" [ngClass]="{active: i == 0}"></span>
              <div class="subcard">
                <h3>{{getStateLabel(history.eStatus)}}<p>{{history.createdOn | date: 'dd/MMM/yyyy - HH:MM'}}</p>
                </h3>
                <p>{{history.notes}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="btn-container">
      <a class="next-btn" mat-button (click)="cerrar.emit()">Ir a la tabla >></a>
    </div>
  </div>
</div>