<div class="table-container">
  <div class="toolbar">
    <div class="view-list" *ngIf="showActions && !isDashboard" (click)="toggleView()">
      <img src="/icons/lista.svg" alt="Ícono de lista" class="icon-small" />
      <label style="font-weight: 500">{{
        isListView ? "Vista de tabla" : "Vista de lista"
        }}</label>
    </div>
    <div class="icon-container">
      <img src="/icons/filtro.svg" alt="Icono de estado" class="icon" />
      <label for="estado">Estado:</label>
      <select id="estado" [(ngModel)]="selectedStatus" (change)="filtrarPorEstado()" class="filter-select">
        <option value="">Todos</option>
        <option *ngFor="let state of states" [value]="state.value">
          {{ state.label }}
        </option>
      </select>
    </div>

    <div class="icon-container">
      <label for="filtro">Filtrar por:</label>
      <button mat-stroked-button class="filter-button-select" (click)="filtrarPorOtro()">
        Más recientes
      </button>

    </div>
  </div>

  <div *ngIf="isListView && showActions" class="list-view">
    <div *ngFor="let denuncia of paginated" class="denuncia-item">
      <div class="denuncia-header">
        <span>{{ denuncia.createdOn | date : "shortTime" }}</span>
        <span>{{ denuncia.createdOn | date : "shortDate" }}</span>
        <span>{{
          denuncia.complainant ? denuncia.complainant.names : "Anónimo"
          }}</span>
        <span>{{ denuncia.reasons[0].description }}</span>
        <div class="buttons-container">
          <a *ngIf="denuncia?.attachments.length" mat-mini-fab matTooltipPosition="above" matTooltip="Ver evidencias"
            href="{{ filesUrl }}{{ denuncia?.trackingCode }}/{{
              denuncia?.attachments[0]?.fileName
            }}" download="{{ denuncia?.attachments[0]?.fileName }}" target="_blank">
            <mat-icon>attach_file</mat-icon>
          </a>
          <button *ngIf="showActions && denuncia.eStatus < 3" mat-mini-fab matTooltipPosition="above"
            matTooltip="Desestimar" (click)="initChangeState(denuncia.id, true)" class="desestimar-btn">
            <img src="/icons/desestimados.svg" alt="Ícono" />
          </button>
          <button mat-mini-fab matTooltipPosition="above" matTooltip="Cambiar estado"
            (click)="initChangeState(denuncia.id, false)">
            <mat-icon>published_with_changes</mat-icon>
          </button>
        </div>
      </div>
      <hr />
      <div class="badge-container">
        <button mat-raised-button class="badge-btn {{ getBadgeClass(denuncia.eStatus) }}">
          {{ denuncia.status }}
        </button>
        <button mat-button matTooltipPosition="above" matTooltip="Ver detalles" class="btn-link" (click)="showDetail(denuncia.id)">
          Ver detalles
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
      <p class="denuncia-note" *ngIf="denuncia.complaintHistory?.length > 0">Nota: {{
        denuncia.complaintHistory[0]?.notes }}</p>
    </div>
  </div>

  <div *ngIf="!isListView" class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <!-- <th><input type="checkbox"></th> -->
          <th>Motivo</th>
          <th>Fecha</th>
          <th>Denunciante</th>
          <th>Estado</th>
          <th>Evidencia</th>
          <th>Chat</th>
          <th *ngIf="!isDashboard">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let denuncia of paginated">
          <td>{{ denuncia.reasons?.[0]?.description }}</td>
          <td>{{ denuncia.createdOn | date }}</td>
          <td>
            {{ denuncia.complainant ? denuncia.complainant.names : "Anónimo" }}
          </td>
          <td>{{ denuncia.status }}</td>
          <td>
            <a href="{{ filesUrl }}{{ denuncia?.trackingCode }}/{{
                denuncia?.attachments[0]?.fileName
              }}" download="{{ denuncia?.attachments[0]?.fileName }}" *ngIf="denuncia?.attachments.length"
              target="_blank" class="primary-text">
              <mat-icon aria-hidden="false" fontIcon="attach_file"></mat-icon>
            </a>
          </td>
          <td>
            <a [routerLink]="'/chatadmin/' + denuncia.id" class="primary-text">
              <mat-icon aria-hidden="false" fontIcon="chat"></mat-icon>
            </a>
          </td>
          <td *ngIf="!isDashboard" class="buttons-container">
            <button mat-mini-fab matTooltipPosition="above" matTooltip="Ver detalles" class="desestimar-btn" (click)="showDetail(denuncia.id)">
              <!-- (click)="initChangeState(denuncia.id, true)" -->
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-mini-fab matTooltipPosition="above" matTooltip="Cambiar estado"
              (click)="initChangeState(denuncia.id, false)">
              <mat-icon>published_with_changes</mat-icon>
            </button>
            <button *ngIf="showActions && denuncia.eStatus < 3" mat-mini-fab matTooltipPosition="above"
              matTooltip="Desestimar" (click)="initChangeState(denuncia.id, true)" class="desestimar-btn">
              <img src="/icons/desestimados.svg" alt="Ícono" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <span class="label">Principio</span>
    <span (click)="previousPage()" [class.disabled]="currentPage === 1" class="arrow">‹</span>

    <div class="page-numbers">
      <button *ngFor="let page of pages()" (click)="goToPage(page)" [class.active]="currentPage === page">
        {{ page }}
      </button>
    </div>

    <span (click)="nextPage()" [class.disabled]="currentPage === totalPages" class="arrow">›</span>
    <span class="label">Final</span>
  </div>
</div>

<app-evidencia-popup (cerrar)="showRejectPopup = !showRejectPopup" (guardar)="loadAll()"
  *ngIf="showRejectPopup"></app-evidencia-popup>
<app-change-state-popup (cerrar)="showChangeStatePopup = !showChangeStatePopup" (guardar)="loadAll()"
  *ngIf="showChangeStatePopup"></app-change-state-popup>