.table-container {
  width: 100%;
}

.title {
  font-size: x-large;
  font-family: "Inria Sans", sans-serif;
}

.table tbody tr:nth-child(odd) {
  background-color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #eee5e675;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 5%;
}

.search-bar {
  width: 20%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.badge-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mat-mdc-mini-fab {
  width: 34px;
  height: 34px;
}

.mat-mdc-mini-fab mat-icon {
  font-size: 24px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: rgb(238, 238, 238);
}

.table th,
.table td {
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.table th {
  background-color: #384146;
  padding: 10px 0;
  text-align: center;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  padding: 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.toolbar .btn {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  box-sizing: border-box;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}

.page-numbers button:hover {
  border: 1px solid var(--primary-color);
}

.pagination button.active {
  background-color: var(--primary-color);
  color: white;
  cursor: default;
}

.pagination button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.pagination button:disabled mat-icon {
  color: #9e9e9e;
}

.pagination button:disabled:hover {
  border: 1px solid #ccc;
}

.label mat-icon{
  height: 16px;
  width: 20px;
  font-size: 20px;
  align-self: center;
}

.arrow {
  cursor: pointer;
  margin: 0 10px;
  font-size: xx-large;
  color: var(--primary-color);
}

.arrow.disabled {
  color: gray;
  cursor: not-allowed;
}

.container {
  display: flex;
  height: 100%;
  background-color: #f1f1f1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.denuncia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time,
.date,
.anonymous,
.reason {
  font-size: 14px;
  color: #6c757d;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container-denuncias {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  padding-left: 34px;
}

.sidebar-denuncias {
  border-radius: 8px;
  margin-left: -15px;
}

.sidebar-denuncias h2 {
  font-size: 24px;
  color: #384146;
  width: 80%;
}

.main-denuncias {
  flex-grow: 1;
}

.desestimar-btn {
  --mat-icon-color: #fff !important;
  color: white;
  background-color: var(--primary-color);
}

.desestimar-btn img {
  width: 24px;
  margin-top: 2px;
  margin-left: -1px;
}

.btn-link {
  --mat-icon-color: var(--mdc-text-button-label-text-color) !important;
  color: var(--mdc-text-button-label-text-color) !important;
}

.desestimar-btn:hover {
  opacity: 0.8;
}

.btn-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}


.icon-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.filter-button-select {
  color: rgb(41, 24, 193);
  background-color: rgb(234 238 250);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(41, 24, 193);
  font-size: 14px;
  margin-left: 10px;
}

.evidencia-btn {
  color: rgb(41, 24, 193);
  background-color: rgb(234 238 250);
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  text-decoration: none;
}

.icon-small {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.view-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.denuncia-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.denuncia-status,
.denuncia-note {
  font-size: 14px;
  color: #6c757d;
}

.header-title.active {
  font-weight: bold;
  text-decoration: underline;
  color: var(--primary-color);
}

@media (max-width: 767px) {

  .toolbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .search-bar {
    width: 100%;
  }

  .table-container {
    overflow-x: auto;
  }

  .table th,
  .table td {
    padding: 8px;
    font-size: 14px;
  }

  .table {
    width: 100%;
  }

  .container {
    display: block;
    height: 100%;
  }

  .header-container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .pagination {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .denuncia-item {
    font-size: 14px;
  }

  .evidencia-btn,
  .desestimar-btn {
    width: 100%;
  }
}

@media (max-width: 479px) {

  .table th,
  .table td {
    font-size: 12px;
    padding: 6px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .toolbar .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .pagination button {
    padding: 5px;
  }
}