<body>
    <div class="informacion">
    <h1>Canal de denuncias</h1>
    <p>Nos encargamos de gestionar temas delicados y sensibles en el entorno<br> laboral. Tu información será manejada con absoluta confidencialidad y <br> objetividad por el personal especializado.</p>
    <h2>¿Qué puedes reportar?</h2>
    <div class="report-list">
      <ul>
        <li>Acoso laboral/mobbing</li>
        <li>Fraude financiero</li>
        <li>Violaciones al Código de Ética</li>
        <li>Abuso de poder</li>
        <li>Uso indebido de recursos de la empresa</li>
        <li>Manejo indebido de información</li>
        <li>Desviaciones contables</li>
        <li>Discriminación</li>
        <li>Incumplimiento de políticas de seguridad</li>
        <li>Corrupción o soborno</li>
        <li>Nepotismo</li>
        <li>Violación de la privacidad</li>
        <li>Manipulación de registros</li>
      </ul>
      <div class="squares">
        <div class="square">Acoso laboral/mobbing</div>
        <div class="square">Fraude financiero</div>
        <div class="square">Violaciones al Código de Ética</div>
        <div class="square">Abuso de poder</div>
        <div class="square">Uso indebido de recursos de la empresa</div>
        <div class="square">Manejo indebido de información</div>
        <div class="square">Desviaciones contables</div>
        <div class="square">Discriminación</div>
        <div class="square">Incumplimiento de políticas de seguridad</div>
        <div class="square">Corrupción o soborno</div>
        <div class="square">Nepotismo</div>
        <div class="square">Violación de la privacidad</div>
        <div class="square">Manipulación de registros</div>
      </div>
    </div>
  </div>
</body>
