<nav class="sidebar" [ngClass]="{ showing: isShowing }">
  <div class="white-section" [ngClass]="{ 'active': isActive }">
    <ng-container *ngIf="selectedSection === 'home'">
      <h2>Home</h2>
      <a style="font-size: small;" routerLink="/homeadmin">Dashboard</a>      
    </ng-container>
    <ng-container *ngIf="selectedSection === 'denuncias'">
      <h2>Denuncias</h2>
      <!-- <a style="font-size: small;" routerLink="/acciones-realizadas">Acciones realizadas</a> -->
      <a style="font-size: small;" routerLink="/denunciasadmin">Supervisión de denuncias</a>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'chat'">
      <h2>Chats</h2>
      <a style="font-size: small;" routerLink="/chatadmin">Mis chats</a>
      <!-- <a style="font-size: small;" routerLink="/acciones-realizadas">Desestimados</a> -->
    </ng-container>
    <ng-container *ngIf="selectedSection === 'administrar'">
      <h2>Administrar</h2>
      <a style="font-size: small;" routerLink="/usersadmin">Usuarios y privilegios</a>
      <a style="font-size: small;" routerLink="/configurationadmin">Configuración</a>
      <a style="font-size: small;" routerLink="/cambiarcontrasenaadmin">Cambiar contraseña</a>
    </ng-container>
    <!-- <ng-container *ngIf="selectedSection === 'logout'">
      <h2>Cerra sesión</h2>
      <a style="font-size: small;" routerLink="/acciones-realizadas">Cerrar sesión</a>
    </ng-container> -->
  </div>
  <div class="sidebar-section">
    <div class="logo">
      <a routerLink="/homeadmin">
        <img [src]="logoUrl" alt="Logo" />
      </a>
    </div>
  
    <ul>
      <li><a style="font-size: medium; cursor: pointer;" (click)="toggleSection('home')">Home</a></li>
      <li><a style="font-size: medium; cursor: pointer;" (click)="toggleSection('denuncias')">Denuncias</a></li>
      <li><a style="font-size: medium; cursor: pointer;" (click)="toggleSection('chat')">Chat</a></li>
      <li><a style="font-size: medium; cursor: pointer;" (click)="toggleSection('administrar')">Administrar</a></li>
      <li><a style="font-size: medium; cursor: pointer;" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</nav>

<notifier-container />