.container {
  display: grid;
  grid-template-columns: 330px 1fr;
  height: 100%;
}

.mobile-menu-container {
  display: none;
}

.sidebar {
  display: flex;
  height: 100%;
  background-color: #f1f1f1;
  position: fixed;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  width: 0 !important;
  transition: width 0.5s ease;
  flex-direction: row-reverse;
  overflow: hidden;
}

.sidebar.showing {
  width: 370px !important;
}

.sidebar .white-section {
  background-color: white;
  width: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  overflow: hidden;
  transition: width 0.5s ease;
}

.sidebar .white-section.active {
  width: 150%;
}

.sidebar .white-section h2 {
  margin: 0 0 30px 0;
  font-family: 'Open Sans';
  font-size: x-large;
  margin-top: 350px;
  margin-left: 10px;
}

.sidebar .white-section a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-size: large;
}

.notifier-container {
  z-index: 1000 !important;
  position: absolute;
}

.sidebar .sidebar-section {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  padding: 20px;
}

a {
  font-weight: 500;
  font-family: 'Open Sans';
  font-size: large;
  margin-top: 10px;
  margin-left: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 150px;
}

.sidebar ul li {
  margin: 20px 0;
}

.logo img {
  width: 150px;
  margin-top: 40px;
}

@media (max-width: 767px) {
  .mobile-menu-container {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 101;
  }

  .mobile-icon {
    color: var(--default-color);
    display: block;
    font-size: 36px;
    height: 36px;
    width: 36px;
  }

  .sidebar {
    flex-direction: column;
    height: 0;
  }

  .sidebar .white-section.active {
    width: 50%;
  }

  .sidebar .white-section h2 {
    font-size: 16px;
    margin-top: 50px;
  }

  .sidebar .white-section a {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .sidebar .sidebar-section {
    padding: 10px;
  }

  .logo img {
    width: 100px;
    margin-top: 20px;
  }

  .sidebar ul {
    margin-top: 50px;
  }

  .sidebar ul li {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .sidebar {
    width: 70% !important;
    transition: height 0.5s ease;
    transition: width 0;
  }

  .sidebar.appear {
    height: 100vh;
    position: fixed;
    margin-top: 45px;
    padding-top: 25px;
    z-index: 99;
    flex-direction: row;
  }

  .sidebar .white-section.active {
    width: 40%;
    min-width: 200px;
    order: 2;
  }

  .sidebar .white-section h2 {
    font-size: 16px;
    margin-top: 50px;
  }

  .sidebar .white-section a {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .sidebar .sidebar-section {
    padding: 10px;
    height: 100%;
  }

  .logo img {
    width: 100px;
    margin-top: 20px;
  }

  .sidebar ul {
    margin-top: 50px;
  }

  .sidebar ul li {
    margin: 10px 0;
  }
}

@media (max-width: 479px) {
  .sidebar .white-section h2 {
    font-size: 14px;
    margin-top: 30px;
  }

  .sidebar .white-section a {
    font-size: 12px;
  }

  .logo img {
    width: 80px;
    margin-top: 10px;
  }
}