<div class="modal">
  <div class="modal-content">
    <button class="close-btn" (click)="cerrar()">✖</button>
    <h2 *ngIf="usuario?.id">Editar usuario</h2>
    <h2 *ngIf="!usuario?.id">Crear usuario</h2>
    <form (ngSubmit)="guardarDatos()">
      <div class="form-row">
        <div class="form-group">
          <h3>Nombre: <span class="text-danger">*</span></h3>
          <input type="text" [(ngModel)]="nombre" name="nombre" required>
        </div>
        <div class="form-group">
          <h3>Tipo de usuario: <span class="text-danger">*</span></h3>
          <select [(ngModel)]="tipo" name="tipo" required>
            <option value="{{5}}">Investigador</option>
            <option value="{{4}}">Administrador</option>
            <option value="{{3}}">Empleado</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Estado <span class="text-danger">*</span></h3>
          <select [(ngModel)]="estado" name="estado" required>
            <option value="{{1}}">Activo</option>
            <option value="{{2}}">Inactivo</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <h3>E-mail de usuario: <span class="text-danger">*</span></h3>
          <input type="email" [(ngModel)]="email" name="email" required>
        </div>

        <div class="form-group">
          <h3>Sexo: <span class="text-danger">*</span></h3>
          <div class="form-group">
            <select [(ngModel)]="sexo" name="sexo" required>
              <option *ngFor="let genre of genreTypeValues" value="{{genre.id}}">{{genre.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="example-button-row flex-end">
        <button class="back-btn" mat-button (click)="cerrar()"> Cancelar</button>
        <button class="next-btn">Guardar</button>
      </div>
    </form>
  </div>
</div>

<notifier-container />
