<div class="container">
  <div class="report-card">
    <div class="progress-indicator">
      <div class="step passed" (click)="goBack()">1</div><label>Información general</label>
      <div class="separator"></div> 
      <div class="step active">2</div> <label style="color:var(--default-color); font-weight: bold;">Involucrados</label>
      <div class="separator"></div> 
      <div class="step">3</div> <label>Denunciante</label>
      <div class="separator"></div> 
      <div class="step">4</div><label>Evidencias</label>
    </div>

    <div class="content-section">
      <h2>Por favor, selecciona al causal del suceso</h2>
      <!-- <div style="display: flex; align-items: center;">
        <h3 style="display: inline-block; margin-right: 10px;">¿No sabés su nombre?</h3>
        <h3 style="display: inline-block;" class="violet">Ver listado de personas</h3>
      </div> -->
      <div>
        <form class="example-form">
          <mat-form-field class="form-selection">
            <!-- <mat-label>Nombre Completo</mat-label> -->
            <input type="text"
                   placeholder="Buscar por nombre o cargo"
                   aria-label="Number"
                   matInput
                   [formControl]="employeeControl"
                   [matAutocomplete]="auto"
                   (focus)="addSelection()"
                   >
            <mat-autocomplete   #auto="matAutocomplete">
              @for (option of filteredEmployees | async; track option) {
                <mat-option [value]="option.names">
                  <!-- <img alt="" class="example-option-img" [src]="state.flag" height="25"> -->
                  <span>{{option.names}}</span> <br>
                  <small>{{option.position}}</small>
              </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>

      <h3 class="violet">
        {{ personasSeleccionadas.length ? personasSeleccionadas.join(', ') : '' }}
      </h3>

      <hr class="divider">

      <div class="manual-entry">
        <h2>Agregar causal manualmente</h2>
        <div class="form-group">
          <div class="input-field">
            <h3 for="manualName">Nombre Completo:</h3>
            <input type="text" matInput class="form-control" id="manualName" [(ngModel)]="manualName" placeholder="Ingrese nombre completo">
          </div>
          <!-- <div class="input-field">
            <h3 for="manualLastName">Apellido:</h3>
            <input type="text"  matInput class="form-control" id="manualLastName" [(ngModel)]="manualLastName" placeholder="Ingrese apellido">
          </div> -->
        </div>
        <button class="guardarCausal-btn" style="margin-top: 20px;" (click)="guardarCausal()">Guardar al causal</button>
      </div>
      
      <hr class="divider">

      <div class="incident-description">
        <h2>Describe al denunciado</h2>
        <h3 for="incident-details">Por favor, de no encontrarlo en la lista describe al causal del siniestro</h3>
        <textarea id="incident-details" placeholder="Esta persona es alta de tes blanca..." [(ngModel)]="personDescription"></textarea>
      </div>
     
      <div class="example-flex-container flex-end">
        <button class="back-btn" (click)="goBack()">Volver</button>
        <button class="next-btn" (click)="saveAndNext($event)">Siguiente</button>
      </div>
      <br>
    </div>

    <div class="info-section">
      <h2 class="title ">Protegemos tu identidad</h2>
      <h2 class="subtitle">Te cuidamos, cuidándonos entre todos.</h2>
      <img src="/icons/isotipo-bg.png" alt="Logotipo Canal" class="reportlogo">
    </div>
  </div>
</div>

<notifier-container />
