.funcionamiento {
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 50px;
}

.funcionamiento-tittle {
  text-align: left;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding-top: 10%;
}

.steps-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-start;
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
  margin-top: 50px;
}

.step1 {
  flex: 1 1 200px; 
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 10px; 
}

.icon-container {
  width: 70px;
  height: 70px;
  background-color: #e3e3e3;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  max-width: 200%; 
  height: auto; 
}

h2 {
  margin-top: 10px; 
  font-size: 1.2em; 
  color: #333;
  text-align: center; 
}

p {
  font-size: 1em; 
  color: #555;
  margin-bottom: 30px; 
  text-align: center; 
  width: 100%; 
  max-width: 250px; 
}


@media (max-width: 767px) {
  .funcionamiento-tittle {
    font-size: 2em;
    padding-top: 18%;
  }

  .steps-container {
    flex-direction: column; 
    align-items: center; 
  }

  h2 {
    font-size: 1.5em; 
  }

  p {
    font-size: 0.9em; 
  }
}

@media (max-width: 479px) {
  .funcionamiento-tittle {
    font-size: 1.5em; 
  }

  .step1 {
    margin-bottom: 20px; 
  }

  h2 {
    font-size: 1.2em; 
  }

  p {
    font-size: 0.8em; 
  }
}
