@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



h2{
    font-family: 'Open Sans';

}


h3, .subtitle, h4, span,a , div, label, li{
    font-size: medium; 
    text-align: left;
    font-weight: 200;
    font-family: 'Open Sans';

}

label {
  font-size: small; 
    text-align: left;
    font-weight: 200;
    font-family: 'Open Sans';


}
.title{
    font-family: 'Open Sans';
    font-size: x-large;
    text-align: left;
}

::placeholder{
    font-family: 'Open Sans';

}
.reportlogo {
    max-width: 80%; 
    height: auto; 
    margin-right: 40px;
  }

  
.body{
    margin: 0;
    padding: 0;
}


.next-btn {
  align-self: flex-end;
  background: linear-gradient(to bottom, #786ca1, #371ec2);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.flex-end{
  align-self: flex-end;
  justify-content: space-between;
}

.back-btn {
  align-self: flex-end;
  background: linear-gradient(to bottom, #605b75, #4f4880);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: space-between;
}

.next-btn:hover {
  background-color: #6653aa;
}

.denuncia-btn, .ver-mas-btn {
    border: 1px solid #371ec2;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    color: #371ec2;
    cursor: pointer;
    font-family: 'Open Sans';

  }


  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .denuncia-btn:hover {
    background-color: #371ec2;
    color: white;
  }
    

  .incident-description {
    margin-top: 50px;
    margin-bottom: 50px;
  }
    
  .incident-date {
    margin-top: 10px;
    font-family: 'Open Sans';

  }

  input[type="date"] {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-family: 'Open Sans';

  }
 
  
  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-family: 'Open Sans';

  }
  .separator {
    width: 40px; 
    height: 2px; 
    background-color: #e0e0e0; 
    align-self: center; 
    margin: 0 10px; 
  }

  .divider {
    border: none;
    border-top: 2px solid #e0e0e0; 
    margin: 20px 0; 
  }
  
  .violet{
    color:#371ec2;
    font-weight: 500;
    text-decoration: underline;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
