@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --default-color: #4C3DB2;
  --primary-color: var(--default-color);
  --mat-icon-color: var(--primary-color);
  --mdc-radio-selected-focus-icon-color: var(--primary-color) !important;
  --mdc-radio-selected-hover-icon-color: var(--primary-color) !important;
  --mdc-radio-selected-icon-color: var(--primary-color) !important;
  --mdc-radio-selected-pressed-icon-color: var(--primary-color) !important;
  --mat-radio-checked-ripple-color: var(--primary-color) !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 600px;
  position: relative;
}


.mt-5 {
  margin-top: 5rem;
}

input,
select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin-left: 10px;
}


.text-danger {
  color: red;
}

.text-success {
  color: seagreen;
}

.label {
  font-size: 14px !important;
}

.bold {
  font-weight: bold
}

h1 {
  display: block;
  font-size: 2em !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold !important;
  unicode-bidi: isolate;
}

h2 {
  font-family: 'Open Sans' !important;
  display: block !important;
  font-size: 1.5em !important;
  margin-block-start: 0.83em !important;
  margin-block-end: 0.83em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
  unicode-bidi: isolate !important;
}


h3,
.subtitle,
h4,
span,
a,
div,
label,
li {
  font-size: medium !important;
  text-align: left !important;
  /* font-weight: 200 !important;  */
  font-family: 'Open Sans' !important;

}

label {
  font-size: small;
  text-align: left;
  font-weight: 200;
  font-family: 'Open Sans';


}

.title {
  font-family: 'Open Sans' !important;
  font-size: x-large;
  text-align: left !important;
}

::placeholder {
  font-family: 'Open Sans';

}

.reportlogo {
  max-width: 80%;
  height: auto;
  margin-right: 40px;
}


.body {
  margin: 0;
  padding: 0;
}

.primary-text {
  color: #4C3DB2;
}

.primary-background {
  background-color: #4C3DB2;
}

.next-btn {
  align-self: flex-end;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25)), var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-btn:disabled {
  background: #e3e3e4 !important;
}

button:disabled {
  background: #e3e3e4 !important;
}

.badge-container {
  padding: 10px 0;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
}

.badge-btn {
  height: 36px !important;
}

.badge-btn .mdc-button__label {
  font-size: 14px !important;
}

.badge-purple-btn {
  color: #7270d5 !important;
  background-color: #d1d0fa !important;
}

.badge-red-btn {
  color: #d56868 !important;
  background-color: #ffe5e5 !important;
}

.badge-yellow-btn {
  color: #c8920f !important;
  background-color: #fffdc7 !important;
}

.badge-green-btn {
  color: #4d9e4d !important;
  background-color: #d1f7d1 !important;
}

.badge-blue-btn {
  color: #4d699e !important;
  background-color: #d1d9fa !important;
}

.flex-end {
  align-self: flex-end;
  justify-content: space-between;
}

.back-btn {
  align-self: flex-end;
  background: linear-gradient(to right, rgba(255, 255, 255, .25), rgba(255, 255, 255, .3)), var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white !important;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: space-between;
}

.next-btn:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}

.denuncia-btn,
.ver-mas-btn {
  border: 1px solid var(--primary-color);
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--primary-color);
  cursor: pointer;
  font-family: 'Open Sans';
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.denuncia-btn:hover {
  background-color: var(--primary-color);
  color: white;
}


.incident-description {
  /* margin-top: 50px !important; */
  margin-bottom: 50px !important;
}

.incident-date {
  margin-top: 10px;
  font-family: 'Open Sans';

}

input[type="date"] {
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-family: 'Open Sans';

}


.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.step.active {
  background-color: var(--default-color);
}

.step.passed {
  background-color: var(--default-color);
  opacity: 0.75;
}

.separator {
  width: 40px;
  height: 2px;
  background-color: #e0e0e0;
  align-self: center;
  margin: 0 10px;
}

.divider {
  border: none;
  border-top: 2px solid #e0e0e0;
  margin: 20px 0;
}

.violet {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: underline;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 767px) {
  .step {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 479px) {
  .step {
    width: 25px;
    height: 25px;
  }
}