.container {
  display: grid;
  grid-template-columns: 370px 1fr;
  background-color: #f1f1f1;
  height: 100vh;
}

::ng-deep .header {
  width: 100% !important;
}

.main-content {
  padding: 0 20px;
  background-color: #f1f1f1;
  width: calc(100vw - 370px);
}

::ng-deep .main-content {
  background-color: #f1f1f1;
}

.dashboard {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

::ng-deep .page-numbers {
  display: flex;
  gap: 10px;
  justify-content: center;
}

::ng-deep .quick-access-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  gap: 20px;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }

  .dashboard {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  ::ng-deep .quick-access-container {
    gap: 10px;
    margin-bottom: 20px;
  }

  .main-content {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}