
.container {
    display: grid;
    grid-template-columns: 370px 1fr;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    background-color:#f1f1f1;
  
  }
 

  .dashboard {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .quick-access-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  @media (max-width: 1023px) {
    .container {
      grid-template-columns: 1fr;
      height: auto; 
    }
  
    .dashboard {
      grid-template-columns: 1fr;
      padding: 10px;
      gap: 10px;
    }
  
    .main-content {
      padding: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .dashboard {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .quick-access-container {
      gap: 10px;
    }
  
    .main-content {
      padding: 5px;
    }
  }