.quick-access {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 110px;
  padding: 14px;
  flex: 1;
  text-decoration: none;
}

.icon-container {
  position: relative;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.icon-container:hover {
  transform: translateY(-5px);
}

.icon {
  background-color: var(--primary-color);
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  padding:7px;
}

.card p {
  align-self: center;
  text-align: center;
  color: #000;
}

@media (max-width: 767px) {
  .quick-access {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    padding: 0;
    max-width: 85px;
  }
}
