<div class="quick-access">
  <a class="card" routerLink="/denunciasadmin">
    <div class="icon-container">
      <img src="/icons/star_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Acciones" class="icon">
    </div>
    <p class="label">Acciones</p> 
  </a>
  <a class="card" routerLink="/denunciasadmin/desestimadas/31">
    <div class="icon-container">
      <img src="/icons/desestimados.svg" alt="Desestimados" class="icon">
    </div>
    <p class="label">Desestimados</p>
  </a>
  <a class="card" routerLink="/denunciasadmin">
    <div class="icon-container">
      <img src="/icons/drafts_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Casos Activos" class="icon">
    </div>
    <p class="label">Casos Activos</p>
  </a>
  <a class="card" routerLink="/denunciasadmin/realizadas/3">
    <div class="icon-container">
      <img src="/icons/editor_choice_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Casos Cerrados" class="icon">
    </div>
    <p class="label">Casos Cerrados</p>
  </a>
</div>
