<div class="quick-access">
  <a class="card" routerLink="/denunciasadmin">
    <img src="/icons/star_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Acciones" class="icon">
    <div class="label">Acciones</div> 
  </a>
  <a class="card" routerLink="/denunciasadmin">
    <img src="/icons/desestimados.svg" alt="Desestimados" class="icon">
    <div class="label">Desestimados</div>
  </a>
  <a class="card" routerLink="/denunciasadmin">
    <img src="/icons/drafts_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Casos Activos" class="icon">
    <div class="label">Casos Activos</div>
  </a>
  <a class="card" routerLink="/denunciasadmin">
    <img src="/icons/editor_choice_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Casos Cerrados" class="icon">
    <div class="label">Casos Cerrados</div>
  </a>
</div>
